body {
    background: rgba(228, 233, 237, 1);
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/*Navigation Bar Styling*/

header {
    overflow: hidden;
    background: linear-gradient(to right, hsla(0, 0%, 100%, 1) 28%, hsla(0, 0%, 100%, 0.025) 64%, hsla(249, 87%, 75%, 0.05) 77%, hsla(261, 100%, 46%, 0.1) 86%, hsla(0, 0%, 0%, .25) 100%);
    padding: 20px 10px;
    box-shadow: 0 4px 2px -2px black;
    max-height: 100px;
}

header img {
    max-width: 4%;
    border-radius: 10px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, -13px 3px 19px -7px rgba(58, 0, 173, 0), -13px 3px 19px -7px rgba(58, 0, 173, 0.32);
    box-shadow: 0px 10px 13px -7px #000000, -13px 3px 19px -7px rgba(58, 0, 173, 0), -13px 3px 19px -7px rgba(58, 0, 173, 0.32);
}

header nav a {
    float: right;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: x-large;
    font-weight: 500;
    -webkit-text-stroke: .5px rgb(36, 36, 36);
    line-height: 25px;
    border-radius: 4px;
}

header nav a:hover {
    background-color: rgba(255, 255, 255, .15);
    text-decoration: underline;
    border-radius: 8px;
    transition: all 0.25s ease-in-out;
}

header nav a.active {
    border-left: 1px solid black;
    border-radius: 0;
}